services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - .:/var/www/html
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: laracket
      DB_USERNAME: user
      DB_PASSWORD: password
      REDIS_HOST: redis
  db:
    image: 'mysql:8.4'
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laracket
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - 'db-data:/var/lib/mysql'
  redis:
    image: 'redis:8.4-alpine'
    ports:
      - '6379:6379'
  localstack:
    image: localstack/localstack:3.8
    ports:
      - '4566:4566'
    environment:
      - SERVICES=s3,ses
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - './docker/localstack:/etc/localstack/init/ready.d'

volumes:
  db-data:
